{% extends "main_frame.html" %}
{% block contents %}
{{ status }}
{% if not user.is_authenticated %}
<h1>Login</h1>
<form action="/login" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="username" class="bmd-label-floating">Nazwa użytkownika:</label>
    <input type="text" class="form-control" id="username" name="username" value=""/>
  </div>

  <div class="form-group">
    <label for="password" class="bmd-label-floating">Hasło:</label>
    <input type="password" class="form-control" id="password" name="password" value=""/>
  </div>
  <input type="hidden" name="type" value="login">
  <input class="btn btn-info btn-raised" type="submit" value="Zaloguj">
</form>
<h1>Register</h1>
<form method="post">
  {% csrf_token %}

  {% for field in form %}

  {{ field.errors }}

  <div class="form-group">
    <label for="{{ field.id_for_label }}" class="bmd-label-floating">{{ field.label_tag }}</label>

    {% if field.id_for_label == "id_username" %}
    <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value=""/>
    {% else %}
    <input type="password" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value=""/>
    {% endif %}

  </div>

  {% endfor %}

  <input type="hidden" name="type" value="signup">
  <input class="btn btn-info btn-raised" type="submit" value="Zarejestruj">
</form>
{% else %}
<h1>Jesteś już zalogowany jako {{ user.username }}</h1>
<a class="btn btn-raised btn-danger" href="/logout" role="button">Wyloguj</a>
{% endif %}
{% endblock %}

